body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #202124;
    display: block;
}

.header {
    height: 60px;
    justify-content: flex-end;
    padding: 6px;
}

.contentheader {
    height: 48px;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 4px;
}
.textheader {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}

.textheader p {
    padding-left: 10px;
    padding-right: 10px;
    font: 13px/27px Roboto,Arial,sans-serif;
}

.iconsheader {
    padding: 4px;
}

.gb_j, .imgprofil{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    /* outline: 1px solid #ff62ab!important; */
    font: 13px/27px Roboto,Arial,sans-serif;
    border-radius: 50%;
    padding: 8px;
}



.imgprofil{
    padding: 4px;
}

.googleimgcontainer {
    display: flex;
    max-height: 92px;
    align-items: center;
    justify-content: center;
}
.googleimg {
    width: 272px;
    height: 92px;
    object-fit: contain;
}

/* Formulaire */

#formulaire {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulairefr {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.iconsearch, .microicon, .photoicon {
    width: 24px;
    height: 24px;
    display: flex;
    align-content: center;
    margin: 5px;
}
.txtarea {
    width: 440px;
    height: 35px;
    border-radius: 30px;
    border: none;
    resize: none;
    word-wrap: break-word;
    outline: none;
    display: flex;
    background-color: transparent;
    font-family: Arial, sans-serif;
    color: rgba(0, 0, 0, .87);
    line-height: 34px;
}

.afterform {
    padding: 18px 0px 0px;
}
.afterform1 {
    line-height: 34px;
    height: 36px;
    color: #202124;
    /* font-family: 14px, Arial, sans-serif; */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.afterform span {
    margin: 11px 4px;
    padding: 0px 16px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    height: 36px;
    color: #3c4043;
    font-family: 14px, Arial, sans-serif;

}

.afterform span:hover{
    background-color: #f0f2f3;
    border: 1px solid #e0e2e2;
}

.afterform2 {
    color: #4d5156;
    display: inline-block;
    line-height: 28px;
}

.afterform2 a {
    color: #1a0dab;
    text-decoration: none;
}

.afterform2 a:hover {
    border-bottom: 1px solid #1a0dab;
}

.footer {
    position: relative;
    bottom: Opx;
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
}
.footer p {
    position: relative;
    bottom: Opx;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.footercontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

.footercontent1 {
    display: flex;
    
}

.footercontent1 a {
    text-decoration: none;
    font-size: 12px;
    color: #70757a;
    padding: 15px;
}

.footercontent1 a:hover {
    border-bottom: 1px solid #70757a;
}
